//
// User styles
// --------------------------------------------------
// All other vaiables in `variables.less` can be overwritten below
// NOTE: the following user styles are designed for default theme Curtana

// Custom styles for sparanoid.com
@fontstack-sans-serif: "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
@fontstack-serif: Georgia, "Hiragino Mincho ProN", serif;

.content {

  // Limit post content width
  .page-content,
  .post-content {
    max-width: 85%;

    // Reset to full-width for small devices
    @media (max-width: @breakpoint-md), (max-width: @breakpoint-sm) {
      max-width: 100%;
    }
  }
}
