---
layout: default
title: Sparanoid
permalink: /
---

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>
    <h1>
      Sparanoid, a one-man design studio operated by Tunghsiao Liu.
    </h1>
  </header>

  <div class="post-content">
    <small class="latest-post">
      {% for post in site.categories.work limit:1 %}
        He recently made <a href="{{ post.url | prepend: site.base }}" class=latest>{{ post.title }}</a>
      {% endfor %}
    </small>

    {% if site.data.curtana.free %}
      <p class="status available"><a href="mailto:{{ site.data.authors.default.email }}">Currently available for freelance</a></p>
    {% else %}
      <p class="status unavailable"><a href="mailto:{{ site.data.authors.default.email }}" title="You think your project is great? try to reach me.">Not accepting freelance work now</a></p>
    {% endif %}
  </div>
</article>
